<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Your Modern Website</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'captchapractice/rteststyles.css' %}">
</head>


<body>


    <div class="parallax-container">
        <section class="parallax" id="section1">
            <h1>Welcome to Parallax Website</h1>
            <p>Scroll down to see the parallax effect in action.</p>
        </section>
        
        <div class="container">
            <div class="sidebar">
                <h2>Sidebar</h2>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="content">
                <h2>Main Content</h2>
                <p>This is the main content of your page.</p>
                
                <form action="submit_selection" method="post">
                    {% csrf_token %} <!-- Add this if you're using Django's CSRF protection -->
                    <div class="image-grid"> 
            
                    {% for slice in img_slice_list %}
                        <div class="image">
                            <input type="checkbox" name="selected_images" id="{{ slice }}" value="{{ slice }}">
                            <label for="{{ slice }}"><img src="{% static 'captchapractice/images/prompts/' %}{{ slice }}.jpg" alt="Image {{ slice }}"></label>
                        </div>
                    {% empty %}
                        <li>Sorry, no images in this captcha.</li>
                    {% endfor %}
            
                    </div>
                    <button type="submit">Submit Selection</button>
                </form>
            
            </div>
        </div>

        <!-- <section class="content" id="section2">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. ...</p>
        </section>
        <section class="content" id="section3">
            <h2>Services</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. ...</p>
        </section> -->
        <section class="parallax" id="section4">
            <h2>Contact Us</h2>
            <p>Email: example@example.com</p>
        </section>
    </div>
</body>
</html>

