

# Text backup files
*.bak

# Database
*.sqlite3

# Shortcut to pgAdmin
pgAdmin4 - Shortcut.lnk

# Static  wait you don't need to do this for whitenoise
# /captchapractice/static/**
# /HelloInternet/static/**
staticfiles/**
