<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>An ode to all forms of captcha</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
    {% block scriptblock %}
    <!-- No common scripts yet -->
    {% endblock scriptblock %}
</head>

<body>
    <div class="parallax-container">

        <section class="parallax" id="section1">
            <h2>Captcha Practice</h2>
            <p>If Google's recaptcha is often challenge for you, you might have a better experience here.</p>
        </section>

        <div class="l-r-container">

            <div class="left-section">
                <h2>Navigation</h2>
                <ul>
                    <li><a href="{% url 'captchapractice:home' %}" class="button-link">Home</a></li>
                    <li><a href="{% url 'captchapractice:index' %}" class="button-link">Index Page</a></li>
                    <li><a href="{% url 'captchapractice:begin' %}" class="button-link">Begin (Challenge Yourself)</a>
                    </li>
                    <li><a href="{% url 'captchapractice:login' %}" class="button-link">Log in</a></li>
                    <li><a href="{% url 'captchapractice:new' %}" class="button-link">New</a></li>
                    <li><a href="{% url 'captchapractice:newthree' %}" class="button-link">New Three</a></li>
                </ul>
            </div>

            <div class="right-section" id="something">
                <div class="login-div">
                    {% if user.is_authenticated %}
                    <p class="login-text">Logged in as: <strong>{{ user.get_username }}</strong>
                        <a href="{% url 'captchapractice:logout' %}?next={{ request.path }}" class="login-text">(Logout)</a>
                    </p>
                    {% comment %}
                    {% else %}
                    <a href="{% url 'captchapractice:login' %}?next={{ request.path }}" class="login-text">Login</a>
                    {% endcomment %}
                    {% endif %}
                </div>

                {% block content %}
                <h2> Empty parent content block</h2>
                {% endblock content %}
            </div>

        </div>

        <section class="parallax" id="section2">
            <br><br><br>
            <span class="login-text">Find me at:</span>
            <a href="mailto:bharadhwajkram@gmail.com" class="login-text">bharadhwajkram@gmail.com</a>
            <a href="https://github.com/beedsneeds/" class="login-text">Github</a>
        </section>
    </div>
</body>

</html>