{% extends "base_generic.html" %}
{% load static %}



{% block content %}

<div id="import-content" class="fade-in">

    {{ captcha_order | json_script:"captcha_order_array" }}


</div>

<script>

    document.addEventListener('DOMContentLoaded', function () {
        const captchaOrderArray = JSON.parse(document.querySelector("#captcha_order_array").textContent);
        console.log(captchaOrderArray)
        let currentPage = 0;

        
        async function loadPage(pageNumber, method = 'GET', formData = null) {
            const url = `/captchapractice/${pageNumber}/`;
            try {
                console.log("TRYing to run loadpage");
                const response = await fetch(url);
                if (!response.ok) {
                    throw new Error(`HTTP error: ${response.status}`);
                }

                const htmlResponse = await response.text();
                renderImportContents(htmlResponse, '#main-prompt', '#import-content');
                console.log("LoadPage after async");

                runScriptAfterAsync()
                const submitFormButton = querySelectorAfterAsync('#submit-form-button');
                submitFormButton.addEventListener('click', handleSubmit);
                console.log("added event listener to selectedQuery");

            } catch (error) {
                console.log("async fn CATCH");
                console.error('Error while Fetching:', error);
            }
        }

        async function loadGeneric(pageName){
            const url = `/captchapractice/${pageName}/`;
            try {
                console.log("TRYing to run loadGeneric");
                const response = await fetch(url);
                if (!response.ok) {
                    throw new Error(`HTTP error: ${response.status}`);
                }

                const htmlResponse = await response.text();
                renderImportContents(htmlResponse, '#main-prompt', '#import-content');
                console.log("LoadPage after async");

            } catch (error) {
                console.log("async fn CATCH");
                console.error('Error while Fetching:', error);
            }
        }


        // Helper function to loadPage. Handles what and how the central div displays
        function renderImportContents(htmldoc, fragmentSelector, parentSelector) {
            // const parser = new DOMParser();
            // const doc = parser.parseFromString(htmldoc, 'text/html');
            // const htmlFragment = doc.querySelector(fragmentSelector);

            const tempContainer = document.createElement('div');
            tempContainer.innerHTML = htmldoc;
            const htmlFragment = tempContainer.querySelector(fragmentSelector);

            const parentDiv = document.querySelector(parentSelector);
            parentDiv.innerHTML = '';
            parentDiv.appendChild(htmlFragment);

            requestAnimationFrame(() => {
                parentDiv.classList.toggle('fade-in');
            });
            setTimeout(() => {
                parentDiv.classList.toggle('fade-in');
            }, 250);
        }


        function runScriptAfterAsync() {
            if (document.readyState !== "loading") {
                const script = document.createElement('script');
                script.src = "{% static 'captchapractice/selection.js' %}";
                document.body.appendChild(script);
                console.log("A new script has been added");
            }
            else {
                console.log("runScriptAfterAsync seems to not be loading");
            };
        }


        function querySelectorAfterAsync(selector) {
            if (document.readyState !== "loading") {
                const selectedQuery = document.querySelector(selector);   
                if (selectedQuery) {
                    console.log("selectedQuery exists");
                    return selectedQuery;
                } else {
                    console.error("Error: 'response-form' not found in the DOM");
                }
            }
            else {
                console.log("querySelectorAfterAsync seems to not be loading");
            };
        }


        async function handleSubmit(event) {
            console.log("This button is being clicked");
            if (document.readyState !== "loading") {
                await submitForm(event);
                const nextButton = querySelectorAfterAsync('#next-button');
                nextButton.addEventListener('click', handleNext);
            }

        }

        function handleNext() {
            currentPage++;
            //  Handling the end-of-game page
            if (currentPage == captchaOrderArray.length){
                console.log("we're reaching the end")
                loadGeneric('end');
            }
            else {
                loadPage(captchaOrderArray[currentPage]);
            }
        }

        // Handling the event when the user has attempted all possible captcha
        if (captchaOrderArray.length == 0) {
            loadGeneric('empty');
        } else {
            loadPage(captchaOrderArray[currentPage]);
        }

        // Handling the default action if the above does not hold true
    });


</script>


{% endblock content %}