{% extends "base_generic.html" %}
{% load static %}



{% block content %}

<p></p>



<p>You'll face a series of 4 captcha challenges</p>

{% if user.is_authenticated %}
<p>Logged in as: <strong>{{ user.get_username }}</strong><br></p>
<p>You can go ahead and start your
    <a href="{% url 'captchapractice:begin' %}" class="button-link">challenge</a>
</p>

{% else %}
<p>
    Please
    <a href="{% url 'captchapractice:login' %}?next={{ request.path }}" class="line2">log in</a>
    to continue. We keep a track of your responses to not give you the same prompts in successive games.
</p>

{% endif %}



<hr>


<p> Feel like you're being thrown into a barebones site without any context?
    Check out the <a href="https://github.com/beedsneeds/HelloInternet/blob/main/README.md">readme</a> on GitHub.</p>





{% endblock %}