{% extends "base_generic.html" %}
{% load static %}

{% block content %}

<div id="centre-div">

    <h5><b>New Captcha (page 1 of 3)</b></h5>
    <br>

    {% for error in form_errors %}
    <div style="color: red;">{{ error }}</div>
    {% empty %}

    {% endfor %}

    <form enctype="multipart/form-data" method="post" action="{% url 'captchapractice:new' %}">
        {% csrf_token %}

        <table>
            <tr>
                <th>{{ upload_form.image.label_tag}}</th>
                <td>{{ upload_form.image }}</td>
            </tr>
            <tr>
                <td colspan="2" style="padding-bottom: 15px;">
                    <em class="muted-text">{{ upload_form.image.help_text }}</em>
                </td>
            </tr>
            <tr>
                <th>{{ upload_form.filename.label_tag}}</th>
                <td>{{ upload_form.filename }}</td>
            </tr>
            <tr>
                <td colspan="2" style="padding-bottom: 15px;">
                    <em class="muted-text">{{ upload_form.filename.help_text }}</em>
                </td>
            </tr>
        </table>


        <div class="submit-row">
            <input type="submit" value="Submit">
        </div>

    </form>

    <p> <b>Note:</b> It takes a few seconds to load the next page as
        <br> the object detection model continues to run in the background.</p>

</div>

{% endblock content %}



{% comment %}


{% endcomment %}