{% extends "base_generic.html" %}
{% load static %}

{% block scriptblock %}
<script src="{% static 'captchapractice/selection.js' %}"></script>
{% endblock scriptblock %}


{% block content %}

<div id="main-prompt">

    <h3>{{ img_object.prompt_text }}</h3>
    {{ img_object.pk | json_script:"image_id" }}

    <div id="get-contents">

        <form id="response-form">
            {% csrf_token %}
            
            <div class="image-grid" style="--slice-count: {{ img_object.slice_count }};">
                {% for slice in img_slice_list %}
                <div class="image">
                    <label for="{{ slice }}"><img class="base-image"
                            src="{% static 'captchapractice/images/prompts/' %}{{ slice }}.jpg"
                            alt="Image {{ slice }}"></label>
                    <input type="checkbox" name="selected_images" id="{{ slice }}" value="{{ slice }}">
                </div>
                {% empty %}
                <li>Sorry, no images in this captcha.</li>
                {% endfor %}
            </div>

            <div class="submit-row">
                <button type="button" id="submit-form-button">Submit</button>
            </div>
        </form>

    </div>

    <!-- This div is hidden the entire time, however, its contents (post-contents) is spliced onto get-contents after a POST through DOM manipulation-->
    <!-- I'm not using javascript's element.style.display = 'block'/'none' because it doesn't seem to work asynchronously as expected -->
    <!-- I imagine its a less clunky workaround than positioning the style.display before the POST request is sent -->
    <div class="hidden-display">
        <div id="post-contents">

            <div class="image-grid" style="--slice-count: {{ img_object.slice_count }};">
                {% for slice in img_slice_list %}
                <div class="image">
                    <img class="base-image" src="{% static 'captchapractice/images/prompts/' %}{{ slice }}.jpg"
                        alt="Image {{ slice }}">
                    {% if slice.slice_name in false_postives %}
                    <div class="overlay-image-wrong"></div>
                    {% elif slice.slice_name in false_negatives %}
                    <!-- change color to something more intuitive -->
                    <div class="overlay-image-missed"></div>
                    {% elif slice.slice_name in true_positives %}
                    <div class="overlay-image-correct"></div>
                    {% endif %}
                </div>
                {% empty %}
                <li>Sorry, no images in this captcha.</li>
                {% endfor %}
            </div>
            <div class="submit-row">
                <p>{{ evaluation }}</p>
                <!-- <button type="button" id="feedback-logic">Think its wrong? Click here</button> -->
                <button type="button" id="next-button">Next</button>
            </div>

        </div>
    </div>

</div>

{% endblock content %}


{% comment %}


{% endcomment %}